<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 완료!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="alert alert-primary" role="alert">
        로그인 완료페이지.
    </div>

    <div class="alert alert-danger" role="alert">
        카카오에서 받은 인증코드로 토큰발급하기
        <form action="https://kauth.kakao.com/oauth/token" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">grant_type</label>
                <input type="text" id="grant_type" name="grant_type" value="authorization_code"  class="form-control" >
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">client_id</label>
                <input type="text" id="client_id" name="client_id" value="be0ad6ee3418253a3ab787a3b82b360f" class="form-control" >
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">client_id</label>
                <input type="text" id="redirect_uri" name="redirect_uri" value="http://localhost:8080/" class="form-control"  >
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">client_id</label>
                <input type="text" id="code" name="code" value=""  class="form-control"  >
            </div>

            <button type="submit" class="btn btn-primary">토큰 발급</button>
        </form>

    </div>

</div>


</body>
</html>